<div class="back">
  <app-header></app-header>
  <h1>FAQ</h1>
  <div class="container">
    <div class="card">
      <div class="question" (click)="showAnswer(ans1, icon1)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon1></i></div>
      <div class="answer" style="display: none;" #ans1>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans2, icon2)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon2></i></div>
      <div class="answer" style="display: none;" #ans2>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans3, icon3)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon3></i></div>
      <div class="answer" style="display: none;" #ans3>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans4, icon4)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon4></i></div>
      <div class="answer" style="display: none;" #ans4>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans5, icon5)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon5></i></div>
      <div class="answer" style="display: none;" #ans5>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans6, icon6)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon6></i></div>
      <div class="answer" style="display: none;" #ans6>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans7, icon7)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon7></i></div>
      <div class="answer" style="display: none;" #ans7>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans8, icon8)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon8></i></div>
      <div class="answer" style="display: none;" #ans8>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans9, icon9)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon9></i></div>
      <div class="answer" style="display: none;" #ans9>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans10, icon10)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon10></i></div>
      <div class="answer" style="display: none;" #ans10>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans11, icon11)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon11></i></div>
      <div class="answer" style="display: none;" #ans11>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
    <div class="card">
      <div class="question" (click)="showAnswer(ans12, icon12)">Veniam adipisicing voluptate exercitation? <i class="fa-solid fa-chevron-down" #icon12></i></div>
      <div class="answer" style="display: none;" #ans12>Dolore officia fugiat sit ut nostrud. Sunt aute tempor ullamco eiusmod nisi reprehenderit nulla anim laboris fugiat. Officia sit dolor enim ut. Laborum cillum Lorem magna nisi non aliqua elit adipisicing reprehenderit  proident irure cupidatat. Minim irure laborum ad consectetur. Nulla esse Lorem culpa cillum mollit ullamco est ex.</div>
    </div>
  </div>
</div>
