<div class="back">
  <header>
    <div class="logo">
      <p>Product <i class="fa-solid fa-cube"></i></p>
      <p>Landing App</p>
    </div>

    <div class="login-div">
        <a routerLink="register" id="login-div-btn">Sign Up</a>
        <a routerLink="login" id="login-div-btn">Sign In</a>
    </div>
  </header>

  <main>

    <div class="main-container">
      <div class="header-cube"></div>
      <img src="./assets/cube2.png" alt="A white cube">
      <div class="description">
        <h1>White cube</h1>
        <p>The most important thing you need</p>
      </div>
      <a routerLink="purchase" routerLinkActive="active">Buy now</a>
    </div>
  </main>

  <div class="second-section">
    <div class="cards-container">
      <div class="card">
          <h3><i class="fa-solid fa-cube"></i></h3>
          <h4>What is it?</h4>
          <p>A white cube with infinite energy with several functions, easy to use and suitable for anyone.</p>
      </div>
      <div class="card">
        <h3><i class="fa-solid fa-dollar-sign"></i></h3>
        <h4>Why adquire?</h4>
        <p>This product can solve all your problems easily and with a good price.</p>
      </div>
      <div class="card">
        <h3><i class="fa-regular fa-eye"></i></h3>
        <h4>What he does?</h4>
        <p>କ୍ୟୁବ୍ କ’ଣ କରେ ପ୍ରଶ୍ନ କର ନାହିଁ, ଏହାକୁ କେବେବି ପ୍ରଶ୍ନ କର ନାହିଁ,କେବଳ ଏହାକୁ କିଣ, ସବୁକିଛି ଠିକ୍ ହେବ |</p>
     </div>
    </div>
  </div>

  <div class="third-section">
    <div class="scroll-div">
      <div class="box box1">This cube<i class="fa-solid fa-cube"></i></div>
      <div class="box box2">Can save<i class="fa-solid fa-hands-holding"></i></div>
      <div class="box box3">Your life<i class="fa-solid fa-heart-pulse"></i></div>
      <div class="box box4">Adquire<i class="fa-solid fa-dollar-sign"></i></div>
      <div class="box box5">NOW!<i class="fa-solid fa-eye fa-shake"></i></div>
    </div>
    <div class="cube-div">
      <img src="./assets/cube.png" alt="">
    </div>
  </div>

  <footer>
    <p>Contact email: cubegiveslife@ymir.com</p>
    <div class="contact-div">
      <a routerLink="faq">FAQ</a>
      <a routerLink="contact">Contact</a>
    </div>
    <div class="icons-div">
      <a href="https://github.com/VictorMuniz7" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/victor-muniz-236842267/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </footer>
</div>
